# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda environment
/soldier_env/

# Data (we will create this folder later)
/data/
*.csv
*.zip

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor specific
.vscode/
.idea/